@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-600: #caff33;
  --color-secondary-105: #1A1A1A;
}

@theme {
  --color-primary-600: var(--color-primary-600);
  --color-primary-650: #d1ff4d;
  --color-primary-700: #d8ff66;
  --color-primary-800: #e5ff99;
  --color-primary-900: #f2ffcc;
  --color-primary-950: #f8ffe5;
  --color-primary-970: #fbfff0;
  --color-primary-990: #fefffa;
  --color-white-900: #e4e4e7;
  --color-white-950: #f1f1f3;
  --color-white-970: #f7f7f8;
  --color-white-990: #fcfcfd;
  --color-grey-100: #191919;
  --color-secondary-105: var(--color-secondary-105);
  --color-grey-110: #1C1C1C;
  --color-grey-150: #262626;
  --color-grey-200: #333333;
  --color-grey-300: #4C4C4D;
  --color-grey-350: #59595A;
  --color-grey-400: #656567;
  --color-grey-600: #98989A;
  --color-grey-700: #B3B3B3;
  --color-grey-750: #BFBFBF;
}
